body {
    height: 100vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(112, 106, 106);
    color: white
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(auto-fill, 70px);
    gap: 10px;
    width: auto;
    height: 100%;
}

.clicked {
    background-color: black;
}